{% extends 'base.html.twig' %}
{% block body %}
	<h1>Ceci est une Maryse à but non lucratif.</h1>
	<div id="cadre_inscri">		
		<div id="inscription">
			<h2 class="titre_entree">Inscription</h2>
			<div id="form">
				{{ form_start(form) }}
				<div class="">
					{{ form_row(form.factSite, { attr: { 'label': '', 'class': 'une_classe' } }) }}
				</div>
				<div class=>
					{{ form_row(form.civilite, { attr: { 'label': '', 'class': 'une_classe' } }) }}
				</div>	
				<div class="">
					{{ form_row(form.lastname, { attr: { 'label': '', 'class': 'une_classe' } }) }}				
				</div>
				<div class="">
					{{ form_row(form.firstname, { attr: { 'label': '', 'class': 'une_classe' } }) }}		
				</div>
				<div class="">
					{{ form_row(form.phone, { attr: { 'label': '', 'class': 'une_classe' } }) }}		
				</div>
				<div class="">
					{{ form_row(form.address, { attr: { 'label': '', 'class': 'une_classe' } }) }}		
				</div>
				<div class="">
					Code Postal : <input type="text" id="cp" size="6"/>		
				</div>
				<div class="">
					Commune : <input type="text" id="ville" />		
				</div>
				<div class="">
					{{ form_row(form.mail, { attr: { 'label': '', 'class': 'une_classe' } }) }}		
				</div>
				<div class="">
					
						<label for="quest1">Avez-vous déjà rencontré l'une ou plusieurs des structures d'accompagnement suivantes?</label>
  						
						<select method="post" name="quest1" onchange="otherStruct(this);">
							<option value="cci">CCI</option>
							<option value="cma">CMA</option>
							<option value="bge">BGE</option>
							<option value="adie">ADIE</option>
		                    <option value="choix" id="choix">Autre(s) structure(s),préciser:</option>
	                	</select>
	                	
				</div>
				<div class="">
					{{ form_row(form.quest2, { attr: { 'label': '', 'class': 'une_classe' } }) }}		
				</div>
				<div class="">
					{{ form_row(form.quest3, { attr: { 'label': '', 'class': 'une_classe' } }) }}		
				</div>
				<div class="">
					{{ form_row(form.quest4, { attr: { 'label': '', 'class': 'une_classe' } }) }}		
				</div>
				<div class="">
					{{ form_row(form.comment, { attr: { 'label': '', 'class': 'une_classe' } }) }}		
				</div>
				<button class="btn_inscri" type="submit">Valider</button>
				{{ form_end(form) }}
			</div>			
		</div>
	</div>
{% endblock %}

{% block javascripts %}

		<script type="text/javascript">
            function otherStruct(select) {
                if(select.value == 'choix') {
                    var choix = document.createElement('input');
                    select.form.onsubmit = function() {
                        var option = document.createElement('option');
                        option.innerHTML = choix.value;
                        option.value = choix.value.substring(0, 2);
                        choix.parentNode.replaceChild(select, choix);
                        select.insertBefore(option, select.firstChild);
                        select.selectedIndex = 0;
                    }
                    select.parentNode.replaceChild(choix, select);
                    $.ajax({
		                url: '/CCI_plateform/public/templates/questionnaire.html.twig',
		                type: 'POST',
		                data: 'choix='+ choix,
		                dataType : 'html',
		                success:function(data){
		                  $('#choix').html(data);
		                }
            		});
                }
            }

        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.1.min.js"></script>   
		<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.ui/1.8.10/jquery-ui.js"></script>
		<link rel="Stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" />

		<script type="text/javascript">
			$(function ()
			{
				$("#cp, #ville").autocomplete({
					source: function (request, response)
					{
						//TODO
					},
					minLength: 3,
					delay: 600
				});
			});

			var objData = {};
			if ($(this.element).attr('id') == 'cp')
			{
				objData = { codePostal: request.term, maxRows: 10 };
			}
			else
			{
				objData = { ville: request.term, maxRows: 10 };
			}

			$.ajax({
			url: "QuestionnaireController.php",
			dataType: "json",
			data: objData,
			type: 'POST',
			success: function (data)
			{
				response($.map(data, function (item)
				{

					return {
						label: item.CodePostal + "," + item.Ville,
						value: function ()
						{
							if ($(this).attr('id') == 'cp')
							{
								$('#ville').val(item.Ville);
								return item.CodePostal;
							}
							else
							{
								$('#cp').val(item.CodePostal);
								return item.Ville;
							}
						}
					}
				}));
			}
			});
		</script>
{% endblock %}

