{% extends 'base.html.twig' %}
{% block body %}
	<h1 class="formu">Formulaire d'inscription</h1>
			<div id="form">
				{{ form_start(form) }}
				<div class="">
					{{ form_row(form.factSite, { attr: { 'label': '', 'class': 'une_classe' } }) }}
				</div>
				<div class="">
					{{ form_row(form.civilite, { attr: { 'label': '', 'class': 'une_classe' } }) }}
				</div>
				<div class="">
					{{ form_row(form.lastname, { attr: { 'label': '', 'class': 'une_classe' } }) }}				
				</div>
				<div class="">
					{{ form_row(form.firstname, { attr: { 'label': '', 'class': 'une_classe' } }) }}		
				</div>
				<div class="">
					{{ form_row(form.phone, { attr: { 'label': '', 'class': 'une_classe' } }) }}		
				</div>
				<div class="">
					{{ form_row(form.address, { attr: { 'label': '', 'class': 'une_classe' } }) }}		
				</div>
				<div class="">
					{{ form_row(form.code_postal, { attr: { 'label': '', 'class': 'une_classe' } }) }}		
				</div>
				<div class="">
					{{ form_row(form.commune, { attr: { 'label': '', 'class': 'une_classe' } }) }}		
				</div>
				<div class="">
					{{ form_row(form.mail, { attr: { 'label': '', 'class': 'une_classe' } }) }}		
				</div>
				<div class="">
					{{ form_row(form.quest1, { attr: { 'label': '', 'class': '' } }) }}
				</div>	
				<div class="">
					{{ form_row(form.quest2, { attr: { 'label': '', 'class': 'une_classe' } }) }}		
				</div>
				<div class="">
					{{ form_row(form.quest3, { attr: { 'label': '', 'class': 'une_classe' } }) }}		
				</div>
				<div class="">
					{{ form_row(form.quest4, { attr: { 'label': '', 'class': 'une_classe' } }) }}		
				</div>
				<div class="">
					{{ form_row(form.comment, { attr: { 'label': '', 'class': 'une_classe' } }) }}		
				</div>
				<button class="btn_inscri" type="submit">Valider</button>
				{{ form_end(form) }}
			</div>
{% endblock %}


